@charset "UTF-8";
.ck-editor__editable_inline {
  min-height: 500px;
}

.text-center {
  text-align: center;
}

.table > :not(:first-child) {
  border-top: 0;
}

/* 입력 폼 */
.form {
  display: flex;
  flex-direction: column;
}

.form textarea {
  resize: none;
  border: 1px solid #dbdbdb;
  padding: 15px 20px;
  outline: none;
}

.form .submit {
  border: 1px solid #8f8f8f;
  background-color: #8f8f8f;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.comment-form {
  padding-bottom: 160px;
}

.reply-form-place {
  display: none;
}
.reply-form-place.active {
  display: block;
}

.reply-content-update-form {
  display: none;
}
.reply-content-update-form.active {
  display: block;
}

.hide {
  display: none;
}

/* 레이아웃 - 댓글 */
.comments {
  border: 1px solid #dbdbdb;
}

.comments .comment {
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
}

.comments .comment:last-child {
  border-bottom: none;
}

/* 상단 메뉴 */
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top .username {
  font-weight: bold;
}

.top .utility {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

/* 하단 메뉴 */
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-weight: bold;
  font-size: 14px;
}

.bottom .divider {
  width: 1px;
  height: 20px;
  background-color: #dbdbdb;
  margin: 0 20px;
}

.bottom .menu {
  margin: 0;
  padding: 0;
  color: #bebebe;
}

.bottom .menu.show-reply {
  color: #333;
}

/* 레이아웃 - 답글 */
.replies {
  position: relative;
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.replies:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #ddd;
}

.replies .reply {
  padding: 20px 0;
  border-bottom: 1px solid #dbdbdb;
}

.replies .reply:last-of-type {
  border-bottom: none;
}
